.sim-popover {
  display: inline-block;
  position: relative;
}
.sim-popover-content {
  width: 220px;
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
}
.sim-popover-container {
  position: relative;
  line-height: 1.5;
  padding: 20px;
  display: inline-block;
  border: 1px solid @normalColor;
  border-radius: 5px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
.sim-popover-title {
  font-weight: bold;
}
.sim-popover-text {
  color: @normalFontColor;
}
.sim-popover-triangle {
  position: absolute;
  display: inline-block;
}
.sim-popover-arrow {
  position: absolute;
}
.sim-popover-arrow-container {
  position: relative;
  width: 20px;
  height: 20px;
  span {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
  }
}
.sim-popover-arrow-location-top {
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
}
.sim-popover-triangle-direction-top {
  .bot {
    border-bottom: 10px solid white;
    left: 0px;
    z-index: 2;
  }
  .top {
    border-bottom: 10px solid @normalColor;
    left: 0px;
    transform: translateY(-1px);
  }
}
.sim-popover-triangle-direction-bottom {
  .bot {
    border-top: 10px solid white;
    left: 0px;
    z-index: 2;
  }
  .top {
    border-top: 10px solid @normalColor;
    left: 0px;
    transform: translateY(1px);
  }
}
.sim-popover-triangle-direction-left {
  .bot {
    border-right: 10px solid white;
    left: 0px;
    z-index: 2;
  }
  .top {
    border-right: 10px solid @normalColor;
    left: 0px;
    transform: translateX(-1px);
  }
}
.sim-popover-triangle-direction-right {
  .bot {
    border-left: 10px solid white;
    left: 0px;
    z-index: 2;
  }
  .top {
    border-left: 10px solid @normalColor;
    left: 0px;
    transform: translateX(1px);
  }
}
