.sim-pagination {
  display: inline-block;
  font-size: 20px;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  user-select: none;
}
.sim-pagination-small {
  font-size: 10px;
}
.sim-pagination-prev,
.sim-pagination-next {
  float: left;
  width: 1.5em;
  //   line-height: 1.5em;
  height: 1.5em;
  font-size: 1em;
  font-weight: bold;
  color: @normalFontColor;
  cursor: pointer;
  &:hover {
    color: @activeFontColor;
  }
}
.sim-page-box {
  float: left;
  margin: 0 10px;
  height: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
  vertical-align: middle;
}
.sim-page-active {
  color: @activeFontColor !important;
}
.sim-page-span {
  float: left;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  // color: @normalFontColor;
  margin: 0 3px;
  cursor: pointer;
}
.sim-page-span-text {
  font-size: 0.7em;
  border-radius: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: rgb(96, 98, 102);
  transition: color 0.1s;
  &:hover {
    color: @activeFontColor;
  }
}
.sim-pagination-disabled {
  cursor: no-drop;
  color: @disabledFontColor;
  &:hover {
    color: @disabledFontColor;
  }
}
.sim-page-span-background {
  background: rgb(244, 244, 245);
}
.sim-page-active-background {
  background: rgb(64, 158, 255);
  color: rgb(255, 255, 255);
  &:hover {
    color: rgb(255, 255, 255);
  }
}
