.sim-radio-normal {
  width: 15px;
  height: 15px;
  border: 1px solid @normalColor;
  font-size: 14px;
  &:hover {
    border: 1px solid @activeColor;
  }
}
.sim-radio-active {
  width: 5px;
  height: 5px;
  border: 6px solid @activeColor;
  transition: ease-in-out 0.1s;
}
.sim-radio {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}
.sim-radio-text-active {
  color: @activeColor !important;
}
.sim-radio-text-normal {
  color: @normalColor;
  vertical-align: middle;
  margin-left: 5px;
}
.sim-radio-disabled {
  user-select: none;
  color: @normalColor !important;
  background: #ffffff !important;
  &:hover {
    border-color: @normalColor !important;
  }
}
.sim-disabled-cursor {
  cursor: no-drop;
}
.sim-normal-cursor {
  cursor: pointer;
}
