@activeColor: rgb(109, 194, 223);
@normalColor: #dcdfe6;
@normalFontColor: #68686a;
@disabledColor: #c0c4cc;
@disabledFontColor: #e8ebf0;
@import './reset.css';
@import './button/button.less';
@import './input//input.less';
@import './radio//radio.less';
@import './checkbox//checkout.less';
@import './checkboxGroup//checkboxGroup.less';
@import './inputNumber/inputNumber.less';
