.sim-cascader-item {
  line-height: inherit;
}
.sim-cascader-item-show-list-li {
  height: 25px;
  line-height: 25px;
  &:hover {
    background-color: #f5f7fa;
  }
}
.sim-cascader-item-show-list-li-label {
  line-height: 25px;
  float: left;
  font-size: 12px;
  color: @normalFontColor;
}
.sim-cascader-item-show-list-li-arrow {
  font-size: 12px !important;
  color: #bfcbd9;
  line-height: 25px;
  float: right;
  margin-right: 10px;
}
