.sim-tree {
  // width: 100%;
  text-align: left;
  line-height: 25px;
}
.sim-tree-secondary {
  width: 100%;
  top: 25px;
}
.sim-tree-levels {
  width: 100%;
  line-height: 25px;
  overflow: hidden;
  box-sizing: border-box;
  padding-left: 20px;
}
.sim-tree-label {
  display: block;
  cursor: pointer;
  &:hover {
    background-color: @activeBgColor;
  }
}
.sim-solid-right-arrow {
  color: @normalColor;
  width: 15px;
  font-size: 14px;
  margin-right: 5px;
  display: inline-block;
}
.sim-tree-label-show {
  transform: rotate(90deg);
}
.icon-solid-right-arrow-display {
  transition: transform 0.3s;
  display: block;
}
